/* .heart {
  --c: #8b575c;
  --v: #c98986;
  width: 50vw;
  aspect-ratio: 1;
  background:
     /* 1 */ radial-gradient(
        circle at 60% 65%,
        var(--c) 64%,
        #0000 65%
      )
      top left/50% 50%,
    /* 2 */ radial-gradient(circle at 40% 65%, var(--c) 64%, #0000 65%) top
      right/50% 50%,
    /* 3 */ conic-gradient(from -45deg at 50% 85.5%, var(--c) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;
} */
